<h2>Edit Product</h2>

<form [formGroup] = "productForm" (ngSubmit) = "sendData()">
  
  <div>
    <label for="name">Name</label>
    <input type="text" name = "name" id = "name" class = "form-control" formControlName = "name" value="{{name}}" [(ngModel)]="name" required>    
  </div>
    
  <div>
	  <label for="phone">Price</label>
	  <input type="text" name="price" id="price" class = "form-control" formControlName = "price" value="{{price}}" [(ngModel)]="price" required>	  
  </div>
  <input type="text" name="id" id="id" class="hidden" value="{{product?.id}}">
  <br />
  <input type="submit" value = "Update Product" class = "btn btn-primary">
</form>  
