@import '~bootstrap/dist/css/bootstrap.min.css';

.nav-item .active{
    /* background-color: gray; */
}

.nav-item:hover{
    text-decoration: underline;
}

a{

padding:20px;
margin: 20px;
background-color:blue ;
}