<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <a class="navbar-brand" href="#">Welcome </a>
    <span class="navbar-toggler-icon"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a  class="nav-link" routerLink="/products" routerLinkActive="active"><b>Products</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"><b>Login</b></a>	
      </li> 
      <li class="nav-item">
        <a class="nav-link" routerLink="/fproducts" routerLinkActive="active"><b>Firebase Products</b></a>	
      </li>     
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>